@import url('https://fonts.googleapis.com/css?family=Long+Cang&display=swap');
@import url('https://fonts.googleapis.com/css?family=Calistoga&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');


*{
    margin:0;
    padding:0;
}
html,body{ 
    font-family: 'Lato', sans-serif; 
    color:#333;  
}

#perfil
        {
            width: 20px;
            height: 15px;
        }
.fileicon{
    width: 100px;
}
header{
    display:flex;
    height: 60px;
    background-color:#ff8935;
}
.inicio-menu
{ 
    background: rgb(154, 182, 196);
    color:#ffff;
}

#image{

    width: 30px;
    height: 30px;
}

#btn-menu
{
    display: none;
   
}

/* icono para el menu */
header label
{
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-radius: 1px solid #fff;
}
/* mouse para el icono del menu */
header label:hover
{
    cursor: pointer;
    background: rgba(82, 99, 54, 0.7);
}


/* control del  menu completo */

.menu ul
{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

    /* tamaño del li  y color de las lineas de separacion*/
.menu #izquierda{
    left: 0;
    position: absolute ;
}

.menu #derecha{
    right: 0;
    position: absolute;
    display: flex;
    
}


 .menu li {
     text-align: center;
     padding: 20px;
     transition: .5s;
     color:#fff;
     /* height: 100%; */
 }   
/* color del paso del mouse */
.menu li:hover
{
    background-color:#ffffffbf;
    color:#000;
}
 
/* estilo de las lista del menu */
.menu a
{  
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

    /* el responsive del menu     */

    @media(max-width:768px)
{

    header label 
    {
        display: block;
    }
    .menu 
    {
        position: absolute;
        background: rgb(154, 182, 196);
        width: 25%;
        margin-left: -25%;
        transition: all 0.5s;
        
        
    }
    .menu ul 
    {
        flex-direction: column;
    }

    .menu #derecha{
        flex-direction: column;
        left: 0;
        margin-top:60px;
        background-color: salmon;
        height: 0px;
    }
    .menu li 
    {
        border-top: 1px solid rgb(255, 0, 0);
    }

    #btn-menu:checked ~ .menu
     {
        margin: 0;
    }
} /* fin del @media */

/* diseño para el carrusel */
.carrusel
{
   width: 100%;
   position: relative; 
   height: 780px;
}
.atras
{
    left: 2%;
    top: calc(50% - 70px);
}
.adelante
{
    right: 2%;
    top: calc(50% - 70px);
}


/* esto es para las cajas de documentacion */

h3,h1
{
    text-align: center;
    clear: both;
}

/* .documentacion1
{
  display: block;
  width: 300px;
  height: auto;
  background: #FE9A2E;
  color: black;
  border-radius: 10px;
  cursor: pointer;
 
}

#n2{
    position: center;
    margin-left: 50px;
    margin-right: 50px;
    top: 20px;
    left: 20px;
   
}
#n3{
    
    margin-left: 100px;
    margin-right: 100px;
    top: 20px;
    left: 20px;
 
}
#n4{
    
    margin-left: 150px;
    margin-right: 150px;
    top: 20px;
    left: 20px;
    
    } */

    /* estilo grid */

    


/*bordes de inicio de caja*/

/* estilos del perfil */

progress[value] {
    /* Elimino la apariencia por defecto */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 300px;
    height: 25px;
}
progress::-webkit-progress-value {
    background: rgb(72, 151, 35);
    border-radius : 10px;  
}
 
progress::-webkit-progress-bar {
    background-color:#D8D8D8;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset; /*esta sombra es para simular el borde que he aplicado arriba para Mozilla*/
    border-radius : 10px ;         
}
    



