<<<<<<< HEAD
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
=======


>>>>>>> 6d947efaaa635f831cd579f2e38506ec46db0fc4
<title>Registro de sesion</title>
<meta name= "description" content="">
<link rel="stylesheet" href="css/estilo.css">


<style>
.registro{ 
    background-size: cover; 
    background-position: center center; 
    width: 100%; 
    display: flex;
    align-content: center;
    align-items: center;
}
.registro .container
{ 
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 140px;
}
.registro .container .divcont{
    max-width: 300px;
    background: rgba(89, 131, 151, 0.7);
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}
.registro .container .divcont h3{
    margin-top: 0px;
}
.registro .container .divcont input { 
    height: 35px; 
    margin: 0px; 
    border: 0px; 
    outline: none; 
    padding: 10px; 
    border-radius: 5px; 
    width: 90%;
    margin-bottom: 10px;
}
.registro .container .divcont input { 
    border-bottom: 3px solid rgb(42, 141, 136); 
}
.registro .container .divcont input.error{ 
    border-bottom: 3px solid rgb(160, 35, 35); 
}
.registro .container .divcont button{ 
    margin: 0px; 
    border:0px; 
    display: block; 
    margin: auto; 
    padding: 10px 30px;
    background: #333;
    color:#fff;
    border-radius: 5px;
    margin-bottom: 10px;
}
.registro .container .divcont a{
    font-size: 12px;
    margin-right: 10px;
    color:#333;
}
select
{
    
    height: 40px; 
    margin: 0px; 
    border: 0px; 
    outline: none; 
    padding: 10px; 
    border-radius: 5px; 
    width: 90%;
    margin-bottom: 10px;
}
.grid-contain1
{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:10px;
    padding: 10px;
}
.boxactivity{
    color:#fff;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    padding: 10px;
    border-radius: 7px;
    cursor: pointer;
    max-width:250px;
    min-width: 200px;
    height: 250px;
    grid-gap: 10px;
    transition: .5s;
    border:1px solid gray;
    background-color:#ff5f01;
}
.boxactivity:hover
{
    margin-top: -10px;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 2px 6px 39px -4px rgba(0,0,0,0.54);
}
.imgbox{
    width: 100px;
}

/* Para el menu  */

/* color del fondo del munu */

</style>
<html>
    <body>

        <main>

            
        
     <!-- FORMULARIO DE REGISTRO E INICIO DE SESION -->
        <div class="registro">
            <div class="container">
                <div class="grid-container1">
                    <div>
                        <h1>Plataforma de Inducción a empleados de la</h1>
                        <h1>Cooperativa de Credito y Ahorro Congente</h1>
                    </div>
                    <div class="grid-contain1">
                        <div class="boxactivity">
                            <h1>Cooperativa</h1>
                            <img class="imgbox" src="img/descarga.png" alt="">
                        </div>
                        <div class="boxactivity">
                            <h1>Reglamentos</h1>
                            <img class="imgbox" src="img/rules.png" alt="">
                        </div>
                        <div class="boxactivity">
                            <h1>Politicas</h1>
                            <img class="imgbox" src="img/debate.png" alt="">
                        </div>
                        <div class="boxactivity">
                            <h1>Calidad</h1>
                            <img class="imgbox" src="img/calidad.png" alt="">
                        </div>
                    </div>
                  </div>
                <div class="divcont">
                    <h3>  {{ title }} </h3>
<<<<<<< HEAD
                    <form  action="registroformulario.php" method="POST">
=======
                    <form name="registroUsuario" action="registroformulario.php" method="POST">
>>>>>>> 6d947efaaa635f831cd579f2e38506ec46db0fc4
                        <!-- lista de cargos -->
                        <select name="cargos" id="Cargo" >
                            <!-- <option selected value="0"> Elige el cargo a desempeñar </option> -->
                            <option value="1">Cajero</option>
                            <option value="2">Creditos</option>
                            <option value="3">Administracion</option>
                            <option value="4">Aprendiz sena</option> 
                        </select>
                        <!-- ingreso de datos -->
<<<<<<< HEAD
                        <input type="text" placeholder="Nombre" v-model = "form.nombre" v-if="form.type==1" name="nombre" required>
                        <input type="text" placeholder="Apellido" v-model = "form.apellido" v-if="form.type==1" name="apellido" required >
                        <input type="number" placeholder="Documento de identidad" v-model="form.documento" v-if="form.type==1" name="cc" required>
                        <input type="number" placeholder= "Telefono" v-model="form.telefono" v-if="form.type==1" name="telefono" required>
                        <input type="email" :class="{'error':validaEmail}" placeholder="Email" v-model="form.email" name="correo" required>
                        <input type="password" v-if="form.type!=2" :class="{'error':validaPassword}" placeholder="Contraseña" v-model="form.password" name="clave" required>
                        <input type="password" v-if="form.type==1" :class="{'error':validaRepetirPassword}" placeholder="Repetir contraseña" v-model="form.passwordos"  required>
                        <button  v-if = "form.type==0" name="iniciar">Iniciar sesión</button>
                        <button v-if ="form.type==1" name="registro">Registrar</button>
=======
                        <input type="text" placeholder="Nombre" name="nombre" required>
                        <input type="text" placeholder="Apellido"  name="apellido" required >
                        <input type="number" placeholder="Documento de identidad"  name="cc"  required>
                        <input type="number" placeholder= "Telefono" name="telefono" required>
                        <input type="email" :class="{'error':validaEmail}" placeholder="Email" name="correo" required>
                        <input type="password"  placeholder="Contraseña"  name="contraseña" required>
                        <input type="password"  placeholder="Repetir contraseña"  required>
                        <button  v-if = "form.type==0">Iniciar sesión</button>
                        <input type="submit" class="btn" name="registrar" value="registrar">
                        <!-- <button v-if ="form.type==1" name="registrar" value="registrar">Registrar</button> -->
>>>>>>> 6d947efaaa635f831cd579f2e38506ec46db0fc4
                        <a href="javascript:void(0)" @click="form.type=2" v-if="form.type!=2" >Recuper contraseña</a>
                        <a href="javascript:void(0)" @click="form.type=1" v-if="form.type!=1" >Registrate</a>
                        <a href="javascript:void(0)" @click="form.type=0" v-if="form.type!=0" >Iniciar sesión</a>
                    </form>
                </div>            
            </div>
        </div>

    <script src="http://unpkg.com/vue@2.6.11/dist/vue.js"></script>
    <script src="codigo.js"></script>
    <script src="practica.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

</main>
</body>
</html>

        
         
    
    

    