<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Editar</title>
    <link rel="stylesheet" href="../css/estilo.css">
    <style>
        .formulario
        {
            display: inline-block;
            width: 100%;
            max-width: 300px;
            background: rgba(89, 131, 151, 0.7);
            padding: 20px;
            border-radius: 10px;
            display: inline-block;
            justify-content: center;
            text-align: center;
            margin-top: 30px;
        }
        body{
           
            text-align: center;
        }
        #buscar{
           
            margin: 10px;
        }
        .inputedit{
            border:none;
            height: 30px;
            width: 250px;
            margin: 5px;
            border-radius: 7px;
            padding: 5px;
        }
        .btnmod{
            width: 100px;
            height: 30px;
            border-radius: 7px;
            border:none;
            background-color: #52ff70;
            cursor: pointer;
        }
      
    </style>
</head>
<body>
   
    <div class="formulario">
    <form action="editar">
        <h2>Buscar usuario</h2>
        <select name="busqueda" id="buscar">
            <option value="1">Documento</option>
            <option value="2">Nombre</option>
        </select>
        <input type="text" placeholder="Usuario a modificar" name="usurio" id="usuario">
        <input type="button" value="Buscar">
     
        <h2>Editar usuraio</h2>
        <input class="inputedit" type="text" placeholder="Cargo" v-model = "form.cargo" v-if="form.type==0">
        <input class="inputedit"type="text" placeholder="Nombre" v-model = "form.nombre" v-if="form.type==1">
        <input class="inputedit"type="text" placeholder="Apellido" v-model = "form.apellido" v-if="form.type==1" >
        <input class="inputedit"type="number" placeholder="Documento de identidad" v-model="form.documento" v-if="form.type==1">
        <input class="inputedit"type="number" placeholder= "Telefono" v-model="form.telefono" v-if="form.type==1">
        <input class="inputedit"type="email" :class="{'error':validaEmail}" placeholder="Email" v-model="form.email">
        <input class="inputedit"type="password" v-if="form.type!=2" :class="{'error':validaPassword}" placeholder="Contraseña" v-model="form.password" >
    </form><br>
    <input class="btnmod" type="button" value="Modificar">
</div>


</body>
</html>